#apache and scripts
domains=("cursowp.com.br" "treinamentoemfoco.com.br")

#
GIT_DOCKER=""
GIT_SERVER_ROOT=""
LOCAL_IP="0.0.0.0"
LOCAL_PORT=80
PROD_IP=""
PROD_PORT=""
SERVERADMINEMAIL=""

#LOCAL SERVER
LOCAL_USER=""
LOCAL_SERVER_ROOT="/var/www/html"
LOCAL_DOCKER_FOLDER="/var/www/docker"
LOCAL_BRANCH="feature/novoportal"

#DEV SERVER
DEV_SSH_USER="root"
DEV_SSH_IP="1.1.1.1"
DEV_SSH_REMOTE_FOLDER="/var/www"
DEV_BRANCH="development"

#HOMOLOG SERVER
HOMOLOG_SSH_USER="root"
HOMOLOG_SSH_IP="1.1.1.1"
HOMOLOG_SSH_REMOTE_FOLDER="/var/www"
HOMOLOG_BRANCH="staging"

#PROD SERVER
PROD_SSH_USER="root"
PROD_SSH_IP="1.1.1.1"
PROD_SSH_REMOTE_FOLDER="/var/www"
PROD_BRANCH="master"
