#LOCAL SERVER
LOCAL_USER=""
LOCAL_FOLDER="/var/www/bsg"
LOCAL_DOCKER_FOLDER="/home/francisco/docker-f"
LOCAL_BRANCH="feature/novoportal"

#DEV SERVER
DEV_SSH_USER="root"
DEV_SSH_IP="1.1.1.1"
DEV_SSH_REMOTE_FOLDER="/var/www"
DEV_BRANCH="development"

#HOMOLOG SERVER
HOMOLOG_SSH_USER="root"
HOMOLOG_SSH_IP="1.1.1.1"
HOMOLOG_SSH_REMOTE_FOLDER="/var/www"
HOMOLOG_BRANCH="staging"

#PROD SERVER
PROD_SSH_USER="root"
PROD_SSH_IP="1.1.1.1"
PROD_SSH_REMOTE_FOLDER="/var/www"
PROD_BRANCH="master"